*{
    margin: 0;
    padding: 0;
}

/* FLEX */
body{
    font-family: 'Roboto', sans-serif;
}

h1{
    margin-top: 25px;
    color: white;
}

nav{
    width: 100%;
    height: 136px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.topnav{
    width: 100%;
    height: 136px;
    display: flex;

}

.topnav-btn{
    width: 200px;
    height: 100%;
    margin-right: 250px;
}

.navimg{
    height: 136px;
    width: 100%;
    display: flex;
    align-items: center;
}

.navimg img{
    width: auto;
    height: 100px;

    margin-left: 200px;
}

.bottomnav{
    width: 100%;
    height: 71px;
    background-color: #eeeeee;
}

a h1{
    margin: 30px;
}



.material-icons{
    color: white;
    font-size: 20px;
    transition: 0.3s;
}

.base{
    margin-top: 110px;
    margin-bottom: 110px;
    margin-left: 20px;
    margin-right: 20px;
}

.base h1{
    margin-left: 25px;
}

.box{
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: rgba(255, 174, 0, 50%);
    border: orange solid 3px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://i.pinimg.com/originals/90/fe/c8/90fec8c1757a12c2bb67148469412b62.jpg);
    background-size: contain;
    border-radius: 10px;
}

.end{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: flex-end;
    border-radius: 10px;
    backdrop-filter: blur(6px);
}

.start{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: flex-start;
    border-radius: 10px;
    backdrop-filter: blur(6px);
}

.sa{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: space-around;
    border-radius: 10px;
    backdrop-filter: blur(6px);
}

.sb{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: space-between;
    border-radius: 10px;
    backdrop-filter: blur(6px);
}

.se{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: space-evenly;
    border-radius: 10px;
    backdrop-filter: blur(6px);
}

/* GRID */
.grid1{
    width: 100%;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    backdrop-filter: blur(6px);
}

/* FOOTER */

footer{
    width: 100%;
    height: 700px;
    background-color: #14468A;
    display: flex;
    flex-direction: column;
}

footer h4{
    margin-top: 10px;
    color: white;
}

.footerinfo{
    display: flex;
    flex-direction: column;
}

.cont{
    margin-left: 20px;
}

.cont div{
    margin-top: 20px;
}

.footerbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    bottom: 0%;
    margin-top: auto;
    margin-bottom: 15px;
}

.footerbtn h3{
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}

.footerbtn a{
    color: white;
    text-decoration: none;
}

.partners{
    display: none;
    flex-direction: column;
    margin-left: 20px;
}

.picrow{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.pic{
    margin: 5px;
    background-color: white;
    width: 225px;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.pic img{
    margin: 10px;
}

@media (min-width: 700px){

    .box{
        width: 100px;
        height: 100px;
    }

    .material-icons{
        color: white;
        font-size: 40px;
    }

    nav div{
        width: 400px;
    }

    footer{
        height: 398px;
    }

    .footerinfo{
        flex-direction: row;
    }

    .partners{
        display: none;
    }

    

}

@media (min-width: 900px){

    .partners{
        display: flex;
    }

}

@media (min-width: 1000px){


    a{
        text-decoration-color: rgba(255, 174, 0, 0.2);
        color: rgba(255, 255, 255, 30%);  
    }

    a:hover{
        text-decoration-color: orange;
        color: rgba(255, 255, 255, 100%);
    }

    .footerinfo{
        justify-content: space-around;
    }

}