h1{
    margin-top: 25px;
}

.end{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: flex-end;
}

.end div{
    width: 100px;
    height: 100px;
    background-color: rgb(201, 201, 201);
    margin: 10px;
}

.start{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: flex-start;
}

.start div{
    width: 100px;
    height: 100px;
    background-color: rgb(201, 201, 201);
    margin: 10px;
}

.sa{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-around;
}

.sa div{
    width: 100px;
    height: 100px;
    background-color: rgb(201, 201, 201);
    margin: 10px;
}

.sb{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
}

.sb div{
    width: 100px;
    height: 100px;
    background-color: rgb(201, 201, 201);
    margin: 10px;
}

.se{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-evenly;
}

.se div{
    width: 100px;
    height: 100px;
    background-color: rgb(201, 201, 201);
    margin: 10px;
}