*{
    margin: 0;
    padding: 0;
}

#page-container{
    min-height: 100vh;
}


/* FLEX */
body{
    background-color: rgb(44, 44, 44);
    font-family: 'Shippori Antique', sans-serif;
}

h1{
    margin-top: 25px;
    color: white;
}

div{
    border-radius: 5px;
}

nav{
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

a h1{
    margin: 30px;
}

a{
    text-underline-offset: 5px;
    text-decoration-color: orange;
}

nav a{
    display: flex;
    align-items: center;
    transition: 0.3s;
}

nav a:hover{
    background-color: rgb(44, 44, 44);
}

.base{
    margin: 10px;
}

.box{
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: rgb(255, 174, 0, 50%);
    border: orange solid 3px;
    transition: 0.3s;
}

.end{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: flex-end;
}

.start{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: flex-start;
}

.sa{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-around;
}

.sb{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
}

.se{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-evenly;
}

/* GRID */

.grid1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

footer{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 398px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 700px){

    .box{
        width: 100px;
        height: 100px;
    }

}